/* FONT STYLE */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

* {
  font-family: "DM Sans";
  padding: 0;
  margin: 0;
}


/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background: #303030;
  padding: 26px 0px 8px 7px;
}

ul.navbar-items {
  list-style: none;
  display: flex;
  gap: 50px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.navbar-actions {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-bottom: 16px;
}

img.img-fluid-BSN-logo {
  width: 101px;
  height: 66px;
}

li.navbar-links {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}

a.navbar-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

a.navbar-registar {
  border-radius: 8px;
  background: #2196F3;
  padding: 10px 30px;
  margin: auto;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

button.settings {
  border: none;
  background: none;
  cursor: pointer;
}

a.navbar-links {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

/* Existing styles here */

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {

  .navbar-menu {
    display: none;
    width: 100%;
    text-align: center;
    background: #303030;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
  }

  .hamburger {
    display: block;
  }

  .navbar-menu.active {
    display: block;
  }

  .navbar-items {
    display: block;
    padding: 20px 0;
  }

  .navbar-links {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

/* HEADER */
.header {
  background: #303030;
  padding: 100px;
  align-items: center;
}

h3.heading-text {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 62.5px;
  text-align: left;
  color: #FFFFFF;
}

button.write-button {
  width: 211px;
  height: 50px;
  border: 1px solid #B2EBF2;
  background: #303030;
  border-radius: 8px;
  box-shadow: 0px 3px 24px 4px #0000000F;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #B2EBF2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.solution-content {
  padding: 50px;
}

h3.business-solution {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  color: #FFFFFF;
}

p.business-solution-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}

/* ABOUT US SECTION */
.about-us-section {
  background: #303030;
  padding: 40px;
}

img.img-fluid-Artwork {
  width: 654px;
  height: 654px;
}

h2.heading-aboutus {
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  color: #2196F3;
}

h2.count {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

p.aboutus-content {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
}

hr.blue {
  width: 68.5px;
  height: 11.5px;
  border-radius: 18.5px;
  background: #2196F3;
  text-align: center;
}

p.employes {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.employee-related {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* TEAM SECTION */
.team-section {
  padding: 56px 120px 24px 120px;
  background: #303030;
}

h2.team-title {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #FFFFFF;
}

hr {
  height: 2px;
  background: #000000;
}

.description {
  padding: 0px 120px 0px 120px;
}

p.content {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #FFFFFF;
}

h5.profile-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
  color: #FFFFFF;
}

p.profile-title {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.23px;
  text-align: left;
  color: #B2B2B2;
}

.profile-info {
  background: #1F1F1F;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

/* COURSES */
.courses {
  background-color: #0C111F;
  margin: auto;
}

p.solutions {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.12px;
  letter-spacing: 1px;
  color: #2196F3;
  padding: 20px;
}

h2.courses-main-heading {
  margin: auto;
  max-width: 37%;
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 55.68px;
  text-align: center;
  color: #FFFFFF;
}

.course-card {
  background: linear-gradient(121.9deg, #1C1C1C 0%, #050505 96.81%);
  border: 1px solid #2B2B2B;
  width: 280px;
  height: 252px;
  border-radius: 10px;
  padding: 20px;
}

h5.course-title {
  font-family: Inter;
  font-size: 19.77px;
  font-weight: 600;
  line-height: 23.73px;
  color: #FFFFFF;
  padding-top: 10px;
}

.course-card-containers {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 30px 0px;
}

p.course-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #8987A1;
}

.web-flow-container {
  width: 592px;
  height: 252px;
  border: 1px solid #2B2B2B;
  border-radius: 10px;
  display: flex;
  background: linear-gradient(121.9deg, #1C1C1C 0%, #050505 96.81%);
  padding: 15px;
}

.course-card-containers-2 {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.course-card-containers-2 {
  padding-bottom: 50px;
}

.web-flow-card {
  padding: 30px;
}

/* WHY BSN SECTION */
.why-bsn-section {
  background: #303030;
}

h5.why-bsn-heading {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  color: #FFFFFFDE;
}

p.why-bsn-text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}

.bsn-promise-content {
  width: 307px;
  height: 196.08px;
}

.bsn-promise {
  display: flex;
  flex-wrap: wrap;
}

h5.promise-heading {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.25px;
  color: #FFFFFFDE;
}

p.promise-content {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #FFFFFFB2;
}

.bsn-promise-content {
  width: 307px;
  height: 196.08px;
  padding: 15px;
}

.content-of-bsn {
  padding-top: 75px;
}

/* OUR PROJECT */
.our-projects {
  background: #0C111F;
  padding: 40px 20px;
}

h2.our-project-heading {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 55.68px;
  text-align: center;
  color: #FFFFFF;
}

p.our-project-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #B6B8BC;
  margin: auto;
  max-width: 47%;
}

/* CONTACT INFO */
.contact-info {
  background: #0C111F;
  padding: 35px 75px 35px 35px;
  display: flex;
  justify-content: space-around;
}

p.Findus-text {
  font-size: 40px;
  font-weight: 500;
  line-height: 50.6px;
  text-align: left;
  color: #FFFFFF;
}

p.call-us {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 600;
  line-height: 25.3px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #F0F0F0;
}

.address {
  margin-top: 70px;
}

p.num {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2px;
  text-align: left;
  color: #ECECEC;
}

img.img-fluid-info-call-icon {
  width: 54px;
  height: 54px;
}

.call-info {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 12px;
  border-radius: 12px;
  background: #2A2A2A;
  border: 1px solid #F3F3F3;
  width: 400px;
  height: 60px;
  margin-top: 30px;
}

p.info {
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #2196F3;
}

p.keep-touch {
  font-family: Be Vietnam Pro;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  color: #FFFFFF;
}

p.CTA-text {
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ECECEC;
}

.details {
  display: flex;
  flex-flow: column;
}

.share-info {
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #F3F3F3;
  background: #0C111F;
  padding: 18px 306px 18px 20px;
  box-shadow: 0px 4px 5px 0px #00000008;
  margin-top: 15px;
}

input#message {
  width: 400px;
  height: 0px;
  padding: 16px 294px 60px 20px;
  border-radius: 4px;
  border: 1px solid #F3F3F3;
  background: #0C111F;
  margin-top: 35px;

}

button.button-btn {
  padding: 12px 24px 12px 24px;
  border-radius: 6px;
  background: #2196F3;
  font-family: Graphik;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  margin-top: 35px;
}

























/* media queries */
@media only screen and (max-width: 1024px) {

  .divider {
    width: 800px;
  }

  p.content {
    font-size: 20px;
    line-height: 27px;
  }

  .CTA-info {
    margin-left: 90px;
  }

  .contact-info {
    flex-wrap: wrap;
  }
}